@charset "utf-8";

html {
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
  /* min-height for preventing live load scrolls up */
  min-height: 100%;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: rgb(29, 29, 31);
}

.global-nav {
  height: 44px;
  padding: 0 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.local-nav {
  height: 52px;
  position: absolute;
  width: 100%;
  top: 44px;
  left: 0;
  border-bottom: 1px solid #ddd;
  padding: 0 1rem;
}

.global-nav-links,
.local-nav-links {
  max-width: 1000px;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
}

.global-nav-links {
  justify-content: space-between;
}

.local-nav-links a:not(.my-name) {
  margin-left: 2em;
  font-size: 0.8rem;
}

.my-name {
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: bold;
}

.scroll-section {
  padding-top: 50vh;
  border: 1px solid green;
}

#scroll-section-0 h1 {
  font-size: 3rem;
  text-align: center;
}

.main-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  font-size: 2rem;
  margin: 5px 0;
  text-align: center;
  font-weight: bold;
  opacity: 0;
}

.main-message small {
  display: block;
  font-size: 1rem;
}

/* Second START!!!! */
.description {
  font-size: 1.2rem;
  color: #888;
  padding: 0 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

/* Joungwoo */
.description strong {
  font-size: 2.4rem;
  float: left;
  margin-right: 0.3em;
  color: rgb(29, 29, 31);
}

.desc-message {
  width: 50%;
  font-weight: bold;
}
.pin {
  width: 1px;
  height: 50px;
  background-color: rgb(29, 29, 31);
}

.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 2rem;
  color: #888;
  padding: 0 1rem;
}

.mid-message strong {
  color: rgb(29, 29, 31);
}

.canvas-caption {
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
  max-width: 1000px;
  margin: 0 auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  background-color: white;
}

.sticky-elem {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

/* show only what we need to see */
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}

@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }

  .main-message {
    font-size: 4vw;
  }

  .description {
    font-size: 2rem;
  }
  .description strong {
    font-size: 6rem;
  }

  #scroll-section-2 .main-message {
    font-size: 5vw;
  }

  .main-message small {
    font-size: 1.5vw;
  }

  .desc-message {
    width: 20%;
  }

  .mid-message {
    font-size: 4vw;
  }

  .canvas-caption {
    font-size: 2rem;
  }
}
